@page
@model Webapp.Pages.aboutModel
@{
    ViewData["Title"] = "About";
}


    <div>

        <p>Web app with the help of asp.net.</p>


        <p>Creating services, controllers, API's and pages</p>

    </div>