
body {
    margin: 8px auto;
    background: #fff;
    background-color: #5f5f5f;


    width: 700px;
}
.duck {
width: 128px;
height: 128px;
border: 1px solid black;
background-image: url(../img/duck.png);
background-size: 128px;
position: absolute;
}

.site-header {
width: 100%;
background-color: black;
}
nav {
  text-align: center;
}
nav a{
  font-size: 26px;
  padding: 8px;
  margin: 8px;
  border: 4px dotted white;
  display: inline-grid;
}


.main {
background-color: #5f5f5f;
}

article{
  background-color: #grey
}

.site-footer {
  width: 100%;
  background-color: #333
}
