

body {
    color: black;
}

h1 {
    text-align: center;
}

h3 {
    color: black;
}

#content {
    border: 1px solid black;
    background-color: #fefeee;
    padding: 2em;
    margin: 0 auto;
    height: 500px;
    width: 800px;
    border-radius: 30px;
}

.flag {
    position: relative;
    width: 300px;
    height: 200px;


}
.fade{

  visibility: hidden;
  opacity: 0;
  transition: visibility 500s linear 500ms, opacity 500ms;

}


.sweden {
    background-color: #230bea;
}

.sweden .part1 {
  position: ABSOLUTE;
  top: 80px;
  left: 0;
  width: 300px;
  height: 30px;
  align-self: center;
  background-color: #f3f700;
}

.sweden .part2 {
  position: absolute;
top: 0;
left: 100px;
width: 30px;
height: 200px;
background-color: #f3f700;
}

.finland {
    background-color: #FFFFFF;
}

.finland .part1 {
  position: ABSOLUTE;
  top: 80px;
  left: 0;
  width: 300px;
  height: 30px;
  align-self: center;
  background-color: #07125B;
}

.finland .part2 {
  position: absolute;
top: 0;
left: 100px;
width: 30px;
height: 200px;
background-color: #07125B;
}
.denmark {
    background-color: #F91911;
}

.denmark .part1 {
  position: ABSOLUTE;
  top: 80px;
  left: 0;
  width: 300px;
  height: 30px;
  align-self: center;
  background-color: #FFFFFF;
}

.denmark .part2 {
  position: absolute;
top: 0;
left: 100px;
width: 30px;
height: 200px;
background-color: #FFFFFF;
}
